{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}
<body>
    {% block main %}
    <form action="/history" method="GET">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Transacted</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stocks %}
            <tr>
              <td> {{ stock['symbol'] }} </td>
              <td> {{ stock['shares'] }} </td>
              <td> {{ stock['price'] }}</td>
              <td> {{ stock['time'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </form>
{% endblock %}
</body>